.dog-images img{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 10%;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 2%!important;
  align-items: center;
}

.container-2{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #6880a2;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(171, 111, 111, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  #search:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #0e396a81;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  #search:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  #search span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  #search:hover span {
    color: #000000;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  

.content{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10%;   
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
  }
  
  .container .label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .container .input:valid ~ .label,
  .container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
  }
  
  .container .input:valid,
  .container .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }